@import "@/styles/";

#button {
  min-width: 160px;
  height: 48px;
  border: none;
  margin: 12px 12px 0 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &.primary {
    background: $primary !important;
    color: $white;
    &:hover {
      color: $white;
      background: darken($primary, 3%) !important;
    }
    &:active {
      background: darken($primary, 8%) !important;
    }
  }
  &.secondary {
    background: $secondary !important;
    color: $white;
    &:hover {
      color: $white;
      background: darken($secondary, 3%) !important;
    }
    &:active {
      background: darken($secondary, 8%) !important;
    }
  }
  &.tertiary {
    background: $tertiary !important;
    color: $white;
    &:hover {
      color: $white;
      background: darken($tertiary, 3%) !important;
    }
    &:active {
      background: darken($tertiary, 8%) !important;
    }
  }
  &.green {
    background: $green;
    color: $white;
    &:hover {
      color: $white;
      background: darken($green, 3%);
    }
    &:active {
      background: darken($green, 8%);
    }
  }
  &.sm {
    min-width: 92px;
    height: 32px;
    padding: 0 16px;
    span {
      font-size: 12px;
    }
  }
  &.outline {
    background: transparent;
    color: $white;
    border: 1px solid $white;
    &:hover {
      color: $white;
      background: rgba($white, 0.05);
    }
    &:active {
      background: rgba($white, 0.07);
    }
  }
  &.light {
    background: lighten($black, 3%);
    color: $grey;
    &:hover {
      color: $grey;
      background: lighten($black, 4%);
    }
    &:active {
      color: darken($white, 15%);
      background: lighten($black, 5%);
    }
  }
  &.icon {
    min-width: 48px;
    width: 48px;
    height: 48px;
    background: transparent;
    color: $white;
    svg {
      position: relative;
      top: 2px;
      margin-right: 0;
    }
    &:hover {
      color: $white;
      background: rgba($white, 0.1);
    }
    &:active {
      background: rgba($white, 0.07);
    }
  }
  svg {
    position: relative;
    top: 1px;
    margin-right: 0.5em;
  }
}
