@import "@/styles";

#banner {
  width: 100%;
  position: relative;
  height: 560px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &:before {
    content: "";
    height: 100%;
    background: linear-gradient(0deg, $black, transparent);
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .title {
    width: 400px;
    margin: 12em 6em;
    position: absolute;
    z-index: 3;
    h1 {
      font-size: 36px;
      color: $white;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      color: $grey;
      margin: 0 0 0.5em;
      line-height: 20px;
    }
    .rating {
      margin: 0 0 2em;
    }
    .mobile {
      display: none;
    }
    @media (max-width: 981px) {
      margin: 3em 1em;
      width: 100%;
    }
  }
  @media (max-width: 981px) {
    height: 240px;
    &:before {
      height: 48%;
    }
    .title {
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 20px;
      h1 {
        font-size: 20px;
      }
      p,
      .row {
        display: none;
      }
      .mobile {
        display: block;
        position: absolute;
        left: 46%;
        top: -45%;
        margin: 0;
        transform: translate(-50%, -50%);
        min-width: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 1;
        svg {
          margin: 0;
          fill: $black;
        }
      }
    }
  }
}
