@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400;1,600&display=swap");

body,
html {
  width: 100%;
  min-height: 100%;
}
html {
  overflow-x: hidden;
}
body {
  overflow: auto;
  color: $white;
  min-height: 100vh;
  display: block;
  background-color: lighten($black, 1%);

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: lighten($black, 4%);
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: lighten($black, 12%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: $primary;
  padding: 0 2px;
}
h1 {
  color: $black;
}
h2 {
  color: $grey;
}
#root {
  height: 100%;
}
ul {
  list-style: none;
}
.main .row > .container {
  margin-left: 48px;
  width: calc(100% - 48px);
  @media (max-width: 981px) {
    width: 100%;
    margin-left: 0;
  }
}
small {
  font-weight: normal;
  font-size: 12px;
}
:disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
  user-select: none;
  img {
    filter: brightness(0) invert(1);
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #tickets * {
    visibility: visible;
  }
  #tickets {
    position: absolute;
    left: 0;
    top: 0;
  }
}
