#app {
  height: 100%;
  padding-bottom: 54px;
}
.row {
  display: flex;
  height: calc(100% - 60px);
}
.container {
  width: 100%;
}
.container-md {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  @media (max-width: 981px) {
    padding: 0 1em;
  }
}
.mb {
  display: inline;
  @media (max-width: 981px) {
    display: none;
  }
}
.dt {
  display: none;
  @media (max-width: 981px) {
    display: inline;
  }
}
.header {
  text-align: center;
  margin: 1em 0 2em;
  h1 {
    font-size: 2em;
    color: $white;
    margin: 2em 0;
  }
  p {
    max-width: 500px;
    margin: 0 auto;
  }
}
