@import "@/styles/";

#checkout {
  .banner {
    height: 150px;
    @media (max-width: 981px) {
      height: 130px;
    }
    .title {
      width: 100%;
      margin: 4em auto;
      left: 0;
      right: 0;
      @media (max-width: 981px) {
        margin: 2em auto 0;
      }
      p {
        padding: 0;
        font-size: 16px;
        @media (max-width: 981px) {
          display: block;
        }
      }
    }
  }
  .body {
    margin: 1em 0;
  }
  .title {
    font-size: 12px;
    text-transform: uppercase;
  }
  .content {
    margin: 1em 0;
    .invoice {
 
    }
  }
  button {
    width: 100%;
  }
  
  @media (max-width: 981px) {
    .confirm {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}
