@import "@/styles/";

#ticket {
  margin: 1em;
  .cardWrap {
    border: 1px solid $black;
    width: 100%;
    max-width: 400px;
    color: $white;
    display: flex;
    margin: 2em auto;
  }

  .card {
    background: linear-gradient(
      to bottom,
      $grey 0%,
      $grey 26%,
      $white 26%,
      $white 100%
    );
    float: left;
    position: relative;
    padding: 1em;
  }

  .cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 65%;
    min-width: 250px;
  }

  .cardRight {
    width: 35%;
    min-width: 120px;
    border-left: 0.18em dashed $black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0.9em;
      height: 0.9em;
      background: $black;
      border-radius: 50%;
      left: -0.5em;
    }
    &:before {
      top: -0.4em;
    }
    &:after {
      bottom: -0.4em;
    }
  }

  h1 {
    font-size: 1.1em;
    margin-top: 0;
    span {
      font-weight: normal;
    }
  }

  .title,
  .name,
  .seat,
  .time {
    text-transform: uppercase;
    font-weight: normal;
    h2 {
      font-size: 0.9em;
      color: #525252;
      margin: 0;
    }
    span {
      font-size: 0.7em;
      color: #a2aeae;
    }
  }

  .title {
    margin: 2em 0 0 0;
  }

  .name,
  .seat {
    margin: 0.7em 0 0 0;
  }

  .time {
    margin: 0.7em 0 0 1em;
  }

  .seat,
  .time {
    float: left;
  }

  .eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: $black;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
    }
    &:before {
      width: 1em;
      height: 1em;
      background: $grey;
      z-index: 2;
      left: 8px;
      top: 4px;
    }
    &:after {
      width: 0.5em;
      height: 0.5em;
      background: $black;
      z-index: 3;
      left: 12px;
      top: 8px;
    }
  }

  .number {
    text-align: center;
    text-transform: uppercase;
    h3 {
      color: $black;
      margin: 0.9em 0 0 0;
      font-size: 2.5em;
    }
    span {
      display: block;
      color: #a2aeae;
    }
  }

  .barcode {
    @include flex-center-center;
     img {
      height: 60px;
    }
  }
}
