@import "@/styles";
#categories {
  margin: 0 ;
  padding: 0 0.7em 2em;
  background: lighten($black, 4%);
  .list {
    overflow-x: auto;
    padding: 1em 0;
    @include flex-center;
    li {
      cursor: pointer;
      font-size: 13px;
      text-transform: uppercase;
      padding: 0.4em 0.6em 0.6em;
      margin: 0 0.4em 0 0;
      color: $grey;
      white-space: nowrap;
      border-bottom: 2px solid transparent;
      &.active {
        font-weight: bold;
        border-color: $primary;
        color: $white;
      }
    }
  }
}
