@import "@/styles/";

#header {
  height: 60px;
  padding-right: 20px;
  padding-right: 0;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: +16;
  width: 100%;
  @include flex-center;
  padding: 0 12px;
  justify-content: flex-end;
  &.scrolled {
    @include flex-center-spaced;
    transition: all ease 0.4s;
    background: $black;
  }

  @media (max-width: 981px) {
    height: 52px;
    width: 100%;
    @include flex-center;
    justify-content: flex-end;
    .branding {
      display: inline;
      padding-left: 20px;
      min-width: 20px;
      background: transparent;
      img {
        height: 28px;
      }
    }
  }
}
