@import "@/styles/";

#header {
  height: 60px;
  padding-right: 20px;
  padding-right: 0;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: +10;
  width: 100%;
  @include flex-center;
  justify-content: flex-end;
  &.scrolled {
    transition: all ease 0.4s;
    background: $black;
    border-bottom: 1px solid rgba($grey, 0.1);
  }
  .branding {
    display: none;
  }
  .user {
  //inicio
  margin: 0 20px 0 0 !important;
  a{
    color: #dadce1;
    text-decoration: none;
  }

  .nav-item{
    width: calc(60px* 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .icon-button{
    min-width: 0;
    margin-top: 0;
      .name {
        display: none;
      }
    --button-size: calc(60px* 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background: lighten($black, 4%) !important;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  .icon-button:hover{
    filter: brightness(1.3);
  }
  .icon-button svg{
    display: inline;
    margin: 0;
    fill: lighten($grey, 14%) !important;
  }
  .dropdown{
    position: absolute;
    top: 65px;
    width: 200px;
    transform: translateX(-40%);
    background-color: $secondary;
    border-radius: 8px;
    padding: 0.5rem;
    overflow: hidden;
    transition: height 500ms ease;
  }
  .menu{
    width: 100%;
  }
  .menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;
  }
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }

  .menu-item .icon-button:hover {
    filter: none;
  }

  .menu-item:hover{
    background-color: $primary;
  }
  .icon-right{
    margin-left: auto;
  }
//fim
  
    
  }
  @media (max-width: 981px) {
    height: 52px;
    width: 100%;
    @include flex-center-spaced;

    .user {
      margin: 0 0 0 0 !important;
      button {
        margin: 0 12px 0 0 !important;
      }
    }
    .branding {
      display: inline;
      padding-left: 20px;
      min-width: 20px;
      background: transparent;
      img {
        height: 28px;
      }
    }
  }
}
