@import "@/styles/";

#header {
  height: 60px;
  padding-right: 20px;
  padding-right: 0;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: +16;
  width: 100%;
  @include flex-center-spaced;
  padding: 0 12px;
  &.scrolled {
    @include flex-center-spaced;
    transition: all ease 0.4s;
    background: $black;
  }
  .admin-branding {
    // filter: invert(70%);
  }
  &.admin {
    background: $black;
    box-shadow: 0 2px 7px 0px rgba($black, 0.4);
  }
  .branding {
    cursor: pointer;
  }
  button {
    margin-top: 0;
  }

  @media (max-width: 981px) {
    height: 52px;
    width: 100%;
    @include flex-center-spaced;
    .branding {
      display: inline;
      min-width: 20px;
      background: transparent;
      img {
        height: 28px;
      }
    }
  }
}

.register,
.login {
  .actions {
    display: none;
  }
}
