@import "@/styles/";

#side-menu {
  position: fixed;
  background: $black;
  left: 0;
  top: 0;
  z-index: +15;
  width: 48px;
  min-width: 48px;
  min-height: 100%;
  transition: all ease-in-out 0.4s;

  .branding {
    @include flex-center;
    margin: 0px 0 0 16px;
    min-height: 58px;
    img {
      height: 40px;
      &.mb {
        height: 28px;
      }
    }
  }
  .menu {
    margin-top: 20px;
    li {
      color: $grey;
      @include flex-center;
      cursor: pointer;
      user-select: none;
      padding: 0 20px;
      font-size: 14px;
      height: 48px;
      margin-bottom: 4px;
      svg {
        min-width: 1em;
        margin-right: 1em;
      }
      span {
        white-space: nowrap;
        opacity: 0;
        transition: all ease-in-out 0.01s;
      }
      &.active {
        color: $primary;
        font-weight: 700;
        background: lighten($black, 2%);
        &:hover {
          color: $primary;
          background: lighten($black, 2%);
        }
      }
      &:hover {
        color: $white;
        background: lighten($black, 0.02%);
      }
      &:active {
        background: lighten($black, 1%);
      }
    }
  }
  &:hover {
    transition: all ease-in-out 0.2s;
    width: 240px;
    min-width: 240px;
    .branding {
      img {
        transition-delay: 1s;
        &.mb {
          display: none;
        }
        &.dt {
          display: inline;
        }
      }
    }
    .menu {
      li {
        span {
          transition: all linear 0.1s 0.3s;
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 981px) {
    min-height: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 52px;
    &:hover {
      min-width: 100%;
      width: 100%;
    }
    .branding {
      display: none;
    }
    .menu {
      @include flex-center;
      margin: 0;
      height: 100%;
      li {
        height: 100%;
        margin: 0;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        span {
          font-size: 10px;
          display: none;
        }
        svg {
          margin: 0 0 7px;
        }
        &.active {
          span {
            display: block;
          }
        }
      }
    }
  }
}
