@import "@/styles";

#load {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: +9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba($black, 0.98);

  img {
  }
}
