@import "@/styles";

#dashboard {
  .card-list {
    @include flex-center;
  }
  .card {
    padding: 1em;
    margin: 1em;
    background: lighten($grey, 60%);
    box-shadow: 0 2px 7px 0px rgba($black, 0.4);
    color: $black;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .tab {
    background: #fff;
    margin: 1em 0;
    button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      &:hover {
        background-color: #ddd;
      }
      &.active {
        background-color: #ccc;
      }
    }
  }
}
